<?xml version='1.0' encoding='utf-8'?>
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
             <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
                  on session expiration as well as webapp lifecycle) -->
    <!--
             <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->
  <!--   <Resource name="jdbc/AJDB" auth="Container" type="javax.sql.DataSource"
                        maxTotal="100" maxIdle="30" maxWaitMillis="10000"
               username="devacc" password="7dkvZlh?r9ww" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://192.10.250.225:3306/AJDB?useUnicode=true;characterEncoding=utf8;useSSL=false"/> -->
    
         <Resource name="jdbc/ajrerp" auth="Container" type="javax.sql.DataSource"
                        maxTotal="100" maxIdle="30" maxWaitMillis="10000"
               username="proxyadmin" password="proxyadmin" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://xtradbproxysql.marathon.l4lb.thisdcos.directory:3306/ajrerp"/> 

  <!-- <Resource name="jdbc/TestDB" auth="Container" type="javax.sql.DataSource"
                      maxTotal="100" maxIdle="30" maxWaitMillis="10000"
               username="javauser" password="7dkvZlh?r9ww" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://192.10.250.225:3306/javatest"/> -->
</Context>
