<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

  <!-- <Manager className="com.crimsonhexagon.rsm.redisson.SingleServerSessionManager"
	endpoint="redis.marathon.agentip.dcos.thisdcos.directory"
	sessionKeyPrefix="_rsm_"
	saveOnChange="false"
	forceSaveAfterRequest="false"
	dirtyOnMutation="false"
	ignorePattern=".*\\.(ico|png|gif|jpg|jpeg|swf|css|js)$"
	connectionPoolSize="20"
	database="0"
	timeout="60000"
	pingTimeout="1000"
	retryAttempts="20"
	retryInterval="1000"/> -->
</Context>
